*{
    box-sizing: border-box;
    font-family:'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#grid-produtos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.figure-produtos{
    border: 1px solid #000;
    border-radius: 3px;
}

.img-produtos{
    width: 100%;
}

.figcaption-produtos{
    padding: 10px;
}

.btn-comprar{
display: grid;
margin: 10px auto;
padding: 6px 12px;
background-color: #40d86e;
border: none;
border-radius: 3px;
font-weight: bold;
color: #FFF
}